

.left {
    float: left;
}

a {
    text-decoration: none !important;
    color: black;
}


.description p {
    margin-bottom: 5rem;
}

.title {
    display: flex;
    align-items: center;
}

.save-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #114097;
    cursor: pointer;
}

.title h3 {
    margin-right: 2rem;
}

.card {
    border: #e8e8e8 solid thin;
    display: flex;
    -webkit-box-shadow: 0 0 16px -11px #000000;
    box-shadow: 0 0 16px -11px #000000;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 10px;
}


.contact-button {
    background-color:transparent;
    border-radius:8px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#4e6096;
    font-size:17px;
    padding:12px 28px;
    text-decoration:none;
}

button:hover {
    background-color: lavender;
}


.images {
    display: flex;
    flex-direction: column;
}

.footer button {
    margin-left: auto;
}

.other-images {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

hr {
    border: #efefef solid thin;
}

.main-image {
    max-height: 300px;
    max-width: 100%;
    margin-bottom: 5px;
}


.other-images img {
    max-width: 10rem;
}

.footer {
    display: flex;
    flex-direction: row;
}

.card .images img {
    border-radius: 8px;
}

.info {
    margin-left: 3rem;
}

@media only screen and (min-width: 1200px) {

    .description button {
        display: inline-block;
    }

    .footer button {
        display: none;
    }

    .main-image {
        height: 70%;
        width: 100%;
        object-fit: cover;
    }

    .main-image img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


@media only screen and (max-width: 1200px) {
    .main-image img {
        max-width: 100%;
    }

    .other-images img {
        max-width: 8rem;
    }

    .footer button {
        display: inline-block;
    }

    .description button {
        display: none;
    }

}

@media only screen and (max-width: 992px) {
    .main-image img {
        max-width: 100%;
    }

    .other-images img {
        max-width: 6rem;
    }
}

@media only screen and (max-width: 776px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .main-image img {
        min-width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .other-images img {
        min-width: 10%;
        max-width: 30%;
        object-fit: cover;
    }

    .other-images {
        gap: 2rem;
    }

    .description p {
        display: none;
    }

    strong {
        font-weight: normal;
    }

    .first-hr {
        display: none;
    }
}